<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.billsplittingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".ExpenseDelete"></activity>
        <activity android:name=".SplitMethod_Menu" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity android:name=".ChangePasswordActivity" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="true" />
        <activity android:name=".ReminderActivity" />
        <activity android:name=".AddFriendActivity" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".QuickSplitDebtorScanCamera" />
        <activity
            android:name=".QuickSplitCreditorAdd"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".QuickSplitGeneralEnterShare" />
        <activity android:name=".QuickSplitCreditorDebtorStatusPending" />
        <activity android:name=".QuickSplitGeneralViewEnteredShare" />
        <activity android:name=".QuickSplitCreditorDebtorStatusUnpaid" />
        <activity android:name=".QuickSplitDebtorViewInvoice" />
        <activity android:name=".Groups" />
        <activity android:name=".GroupsAddNewGroup" />
        <activity android:name=".GroupsAddNewFriendInNewGroup" />
        <activity android:name=".GroupsDetails" />
        <activity android:name=".GroupsDetailsSetting" />
        <activity android:name=".GroupsBalances" />
        <activity android:name=".GroupDebtDetailsList" />
        <activity android:name=".GroupsAddNewPeopleInSetting" />
        <activity android:name=".GroupsSettleUp" />
        <activity android:name=".GroupsSettleUpPay" />
        <activity android:name=".ExpenseAddNew" />
        <activity android:name=".SplitMethod_EqualValue" />
        <activity android:name=".SplitMethod_ExactValue" />
        <activity android:name=".SplitMethod_Percentage" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>